- name: Install ipvsadm and related tools
  hosts: all
  tasks:
    - name: Install required packages
      yum:
        name:
          - ipvsadm
          - ipset
          - sysstat
          - conntrack
          - libseccomp
        state: present

    - name: Create module configuration file
      copy:
        content: |
          ip_vs
          ip_vs_lc
          ip_vs_wlc
          ip_vs_rr
          ip_vs_wrr
          ip_vs_lblc
          ip_vs_lblcr
          ip_vs_dh
          ip_vs_sh
          ip_vs_fo
          ip_vs_nq
          ip_vs_sed
          ip_vs_ftp
          ip_vs_sh
          nf_conntrack
          ip_tables
          ip_set
          xt_set
          ipt_set
          ipt_rpfilter
          ipt_REJECT
          ipip
        dest: /etc/modules-load.d/ipvs.conf

    - name: Enable and start systemd-modules-load service
      systemd:
        name: systemd-modules-load
        enabled: yes
        state: started

    - name: Check systemd-modules-load service status
      command: systemctl status systemd-modules-load
