- name: Update /etc/hosts
  hosts: all
  tasks:
    - name: Load variables from JSON file
      ansible.builtin.include_vars:
        file: ../config.json
        name: config

    - name: Copy Hosts template to the target machine
      ansible.builtin.copy:
        src: ../templates/hosts.j2
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'

    - name: Render the Nginx configuration using the template
      ansible.builtin.template:
        src: /etc/hosts
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'