- name: Install Nginx on Masters
  hosts: masters
  become: true
  tasks:
    - name: check nginx
      shell: ps aux | grep nginx | grep -v grep
      register: check_nginx
      ignore_errors: true

    - block:
      - name: Create Nginx user
        user:
          name: nginx
          shell: /sbin/nologin
          system: yes

      - name: Install dependencies
        yum:
          name:
            - pcre
            - pcre-devel
            - openssl
            - openssl-devel
            - gcc
            - gcc-c++
            - automake
            - autoconf
            - libtool
            - make
          state: present

      - name: Extract Nginx source
        ansible.builtin.unarchive:
          src: /usr/local/ymctl/pkg/nginx-1.21.6.tar.gz
          dest: /tmp

      - name: Configure Nginx
        command: >
          ./configure
          --prefix=/usr/local/nginx/
          --with-pcre
          --with-http_ssl_module
          --with-http_stub_status_module
          --with-stream
          --with-http_stub_status_module
          --with-http_gzip_static_module
        args:
          chdir: /tmp/nginx-1.21.6

      - name: Compile and install Nginx
        shell: make -j 4 &&  make install
        args:
          chdir: /tmp/nginx-1.21.6

      - name: Create Nginx systemd service
        copy:
          content: |
            [Unit]
            Description=The nginx HTTP and reverse proxy server
            After=network.target sshd-keygen.service
  
            [Service]
            Type=forking
            EnvironmentFile=/etc/sysconfig/sshd
            ExecStartPre=/usr/local/nginx/sbin/nginx -t -c /usr/local/nginx/conf/nginx.conf
            ExecStart=/usr/local/nginx/sbin/nginx -c /usr/local/nginx/conf/nginx.conf
            ExecReload=/usr/local/nginx/sbin/nginx -s reload
            ExecStop=/usr/local/nginx/sbin/nginx -s stop
            Restart=on-failure
            RestartSec=42s
            LimitNOFILE=65535
            LimitNPROC=65535
  
            [Install]
            WantedBy=multi-user.target
          dest: /usr/lib/systemd/system/nginx.service

      - name: Load variables from JSON file
        ansible.builtin.include_vars:
          file: /usr/local/ymctl/config.json
          name: config

      - name: Copy Nginx template to the target machine
        ansible.builtin.copy:
          src: /usr/local/ymctl/templates/nginx.conf.j2
          dest: /usr/local/nginx/conf/nginx.conf
          owner: root
          group: root
          mode: '0644'

      - name: Render the Nginx configuration using the template
        ansible.builtin.template:
          src: /usr/local/nginx/conf/nginx.conf
          dest: /usr/local/nginx/conf/nginx.conf
          owner: root
          group: root
          mode: '0644'

      - name: Enable and start Nginx service
        ansible.builtin.systemd:
          name: nginx
          enabled: yes
          state: started

      - name: Reload Nginx to apply the new configuration
        ansible.builtin.systemd:
          name: nginx
          state: reloaded

      - name: Check if Nginx is active
        ansible.builtin.shell:
          cmd: systemctl is-active nginx
        register: nginx_status
        ignore_errors: true

      - name: Assert Nginx is active
        ansible.builtin.assert:
          that: "nginx_status.stdout == 'active'"
          fail_msg: "nginx is not active"
      when: check_nginx.rc != 0
